<div class="col-sm-9  col-md-10" id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar" ng-show="listViewType=='calendar'"></div>
<div class="col-md-2 col-sm-3" style="height: 1000px;">
       <div class="panel" style="margin-top: 30px;">
           <div class="panel-heading" style="background-color: #f8f8ff;color: #777;">
               {{'CALENDAROPTIONS' | translate}}
            </div>
            <div class="panel-body">
                <ul class="media-list" ng-repeat="item in userslist">
                        <li class="media">
                           <div class="media-body">
                               <div class="media">
                                   <div class="media-body" >  
                                       <input type="checkbox" class="pull-left"  ng-model="item.selected" ng-change="userselect(item)"  style="padding-right: 10px;">                                   
                                       <small style="font-weight: bold;" class="text-muted">{{item.intitule | translate}}</small>                                         
                                   </div>
                               </div>

                           </div>
                       </li>
    
                 </ul>
              </div>
            </div>
        
    </div>
</div> 